{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Record title goes in these h1 tags -->
                <h1 class="record-title">{{ record.title }}</h1>
                <!-- Record author goes before the | the record's created date goes after -->
                <p class="record-subtitle">{{ record.author }} | {{ record.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/closeup-record-on-turnable.jpg' %}" class="scale" alt="closeup-record-on-turnable">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The record content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ record.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}