body {
    background-color: #F9FAFC;
}

h2 {
    color: #6FD11F
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #E84610;
}

.thin {
    font-weight: 300;
    color: #E84610;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: 270px;
    height: 180px;
    object-fit: cover; /* ensure the image scales/crops nicely*/
    display: block; /* keep layout consistent */
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #000000;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    background-color: #E84610;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.record-link {
    text-decoration: none;
    color: #445261;
}

.record-link:hover,
.page-link {
    color: #E84610;
}

.record-title {
    margin-top: 10%;
    margin-left: 5%;
    color: #6FD11F;
}

.record-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #0000FF;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #0c4839;
}

.link {
    color: #4D4DFF;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #0c4839;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #BF1722;
}

.btn-like:hover,
.btn-like:active {
    color: #0c4839;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
